@font-face {
  font-family: 'Montserrat-Light';
  src: url('Montserrat-Light.eot');
  src: url('Montserrat-Light.woff2') format('woff2'),
       url('Montserrat-Light.woff') format('woff'),
       url('Montserrat-Light.ttf') format('truetype'),
       url('Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.woff2') format('woff2'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.eot');
  src: url('Montserrat-Medium.woff2') format('woff2'),
       url('Montserrat-Medium.woff') format('woff'),
       url('Montserrat-Medium.ttf') format('truetype'),
       url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('Montserrat-ExtraLight.eot');
  src: url('Montserrat-ExtraLight.woff2') format('woff2'),
       url('Montserrat-ExtraLight.woff') format('woff'),
       url('Montserrat-ExtraLight.ttf') format('truetype'),
       url('Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
       url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

